<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>用户界面</title>
</head>
<body>
<div ng-controller="bookController">
    <ul class="book">
        <li>
            <span>编号</span>
            <span>书名</span>
            <span>总数</span>
            <span>剩余</span>
        </li>
        <li ng-repeat="book in books">
            <span>{{book.id}}</span>
            <span>《{{book.name}}》</span>
            <span>{{book.quantity}}</span>
            <span>{{book.last}}</span>
            <span><a ui-sref="/PageTable.detail({ id:{{book.id}} })">详情</a></span>
        </li>
    </ul>
</div>
</body>
</html>