<div ng-controller="loginController">
    <form name="loginForm">
        <div class="input-form">
            <label for="username">用户名：</label>
            <input id="username" name="username" type="text" ng-model="user.name" required ng-pattern="/^[a-z]*$/" />
            <span class="required" ng-show="loginForm.username.$dirty &&loginForm.username.$error.required">用户名不能为空</span>
            <span ng-show="loginForm.username.$error.pattern">格式错误</span>
        </div>
        <div class="input-form">
            <label for="password">密码：</label>
            <input id="password" name="password" type="password" ng-model="user.password" required ng-pattern="/^\w*$/" />
        </div>
        <div>
            <button type="submit" ng-click="login()">登录</button>
            <span><a ui-sref="/Index.forget">忘记密码</a></span>
        </div>
    </form>
</div>