<div ng-controller="registerController">
    <form name="registerForm" class="registerForm">
        <div class="input-form">
            <label for="username">用户名：</label>
            <input id="username" class="input-form" name="username" type="text" ng-model="user.name" required ng-pattern=""/>
            <span class="required" ng-show="registerForm.username.$dirty &&registerForm.username.$error.required">用户名不能为空</span>
        </div>
        <div class="input-form">
            <label for="password">密码：</label>
            <input id="password" class="input-form" name="password" type="password" ng-model="user.password" required ng-pattern=""/>
            <span class="required" ng-show="registerForm.password.$dirty &&registerForm.password.$error.required">密码不能为空</span>
        </div>
        <div class="input-form">
            <label for="repassword">再次输入密码：</label>
            <input id="repassword" class="input-form" name="repassword" type="password" ng-model="user.repassword" required ng-pattern=""/>
            <span ng-show="registerForm.repassword.$dirty &&registerForm.repassword.$error.required">密码不能为空</span>
            <span ng-show="">两次输入不一致</span>
        </div>
        <div>
            <input type="checkbox" value="同意">
        </div>
        <div>
            <button type="submit" >注册</button>
        </div>
    </form>
</div>