/* app css stylesheet */
/**
*总体布局
 */
body {
    margin-top: 100px;
    background-color: #FFFFFF;
}

@media (min-width: 768px) {
    body {
        margin-top: 50px;
    }
}

.wrapper {
    padding-left: 0;
}
.page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #fff;
}
@media (min-width: 768px) {
    .wrapper {
        padding-left: 225px;
    }
    .page-wrapper {
        padding: 10px;
    }
}
/* Top Navigation */
.top-nav {
    padding: 0 15px;
}
.top-nav > li {
    display: inline-block;
    float: left;
}
.top-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #999;
}
/* Side Navigation */

@media (min-width: 768px) {
    .side-nav {
        position: fixed;
        top: 51px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #fff;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }

    .side-nav > li > a {
        width: 225px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #000 !important;
    }
}

.side-nav > li > ul {
    padding: 0;
}

.side-nav > li > ul > li > a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999;
}

.side-nav > li > ul > li > a:hover {
    color: #fff;
}

/* chart */
.chart-js {
    width: 40%;
    height: 30%;
    display: inline-block;
    margin: 50px;
}

/* pagination */
.page-list .pagination {
    float: left;
}

.page-list .pagination span {
    cursor: pointer;
}

.page-list .pagination .separate span {
    cursor: default;
    border-top: none;
    border-bottom: none;
}

.page-list .pagination .separate span:hover {
    background: none;
}

.page-list .page-total {
    float: left;
    margin: 25px 20px;
}

.page-list .page-total input, .page-list .page-total select {
    height: 26px;
    border: 1px solid #ddd;
}

.page-list .page-total input {
    width: 40px;
    padding-left: 3px;
}

.page-list .page-total select {
    width: 50px;
}

/**
* grid
 */
.jht-grid {
    height: 90%;
    width: 100%;
    max-width: 100%;
    font-family: '微软雅黑 Light', Georgia, serif;
    font-size: 20px;
    text-align: center;
    box-shadow:0px 0px 0px 0px #00b3ee;
    margin-bottom: 10px;
}
.jht-grid-border tr{
    border: 1px solid #d4d4d4;
}
.jht-grid th {
    text-align: center;
    background: #33CCFF;
}

.jht-grid td {
}

.jht-grid tr td:hover {
    background: #33CCFF;
}
/*grid 页脚分页*/
.jht-grid-dropdown {
    background: #f8f8f8;
    font-family: '微软雅黑 Light';
    font-size: 15px;
    padding: 5px;
    border: 1px solid #f8f8f8;
}

.jht-grid-dropdown-total {
    display: inline-block;
}

.jht-grid-dropdown-pagination {
    display: inline-block;
    float: right;
}

.jht-grid-dropdown-pagination-onJump {
    display: inline-block;
}

.jht-grid-dropdown-pagination-onJump > input {
    width: 20px;
}

.jht-grid-dropdown-pagination span:hover {
    border: 1px solid #FF3333;
}

.jht-pagination-item {
    display: inline-block;
    background: #FFFFFF;
    border: 1px solid #d4d4d4;
    width: 25px;
    text-align: center;
}

.jht-pagination-item-active {
    color: #FF0000;
    background: transparent;
    border: #d4d4d4
}

.jht-pagination-text {
    display: inline-block;
    background: #FFFFFF;
    border: 1px solid transparent;
}

/**
** panel 模块
 */
.jht-panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 2px 2px rgba(0, 0, 0, .05);
}

.jht-panel-primary > .jht-panel-title {
    background: #337ab7;
}

.jht-panel-title {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.jht-panel-body {
    padding: 15px;
}
