/* app css stylesheet */
/*全局布局*/
body {margin:0;padding:0;border:0;}
a { text-decoration: none }
ul {
    list-style-type: none
}
/*main*/
.main { position:relative;top:80px;left:20%;width:79%;}
/*
*   footer模块
*/
.footer {
    position: fixed;
    bottom: 0;
    height: 120px;
    width: 300px;
    color: #FFFFFF;
    z-index: 3;
}

/*
*   头部模块
*/
.headPanel { margin:0;padding:0;position:fixed; top:0px;height:80px;width:100% ; z-index:1000;background:url('components/img/3S9sFMD.jpg') repeat-x;}
.headPanel>div { display: inline-block;}
/*logo图标*/
.logoPanel {width:20%;margin:0;padding:0}
/*headerbar*/
.headbar { width:79%; margin:0;padding:0;}
.headbar>div { display:inline-block; padding-left: 10px;}
.headbar .head-title { width: 60%;text-align:center; color: #FFFFFF}
.headbar span {font-size: 20px;margin-left:10px;padding-left:5px;}
.headbar a {text-align:center;text-decoration: none;font-size:30px; color:#101010;margin-left:10px;float:right;font-family: 微软雅黑}
/*
* 登录模块
*/

/*
*   nav 菜单
*/
.sidebar {
    position: fixed;
    top: 80px;
    border: none;
    width: 15%;
    height: 100%;
    background: #00b3ee;
    color: #fff;
}

.icon {  font-size: large;  font-family: '微软雅黑 Light';}
.icon>a { color: #FFFFFF;}
.icon span { margin: 5px;}

/* 输入模块 */
.input-form {
    position: relative;
}

.input-form label {
    font-weight: 400;
    font-size: 20px;
    font-family: '微软雅黑 Light', Georgia, serif;
}

/* input样式 */
.input-form input {
    padding: 0.85em 0.85em 0.85em 3em;
    width: 50%;
    background-color: transparent;
}

.input-form label {
    position: relative;
    padding: 1.25em 0 0;
    width: 4em;
    height: 100%;
}

.input-form span {
    color: red;
    font-family: '楷体';
}

/*grid*/
.gridStyle {margin:auto;}

/* chart */
.chart-js { width: 40%; height: 30% ; display: inline-block ; margin: 50px;}

/*grid*/
.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 60%;
}
/* pagination */
.page-list .pagination {float:left;}
.page-list .pagination span {cursor: pointer;}
.page-list .pagination .separate span{cursor: default; border-top:none;border-bottom:none;}
.page-list .pagination .separate span:hover {background: none;}
.page-list .page-total {float:left; margin: 25px 20px;}
.page-list .page-total input, .page-list .page-total select{height: 26px; border: 1px solid #ddd;}
.page-list .page-total input {width: 40px; padding-left:3px;}
.page-list .page-total select {width: 50px;}

/* directive */
.directive-panel>div {  display: block;}