/* app css stylesheet */
/**
*总体布局
 */
body {
    margin-top: 100px;
    background-color: #FFFFFF;
}

@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
}

.wrapper {
    padding-left: 0;
}

.page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #fff;
}
@media(min-width:768px) {
    .wrapper {
        padding-left: 225px;
    }

    .page-wrapper {
        padding: 10px;
    }
}

/* Top Navigation */

.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #999;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #000;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}

li.message-preview>a {
    padding-top: 15px;
    padding-bottom: 15px;
}

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}

/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 51px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #fff;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }

    .side-nav>li>a {
        width: 225px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #000 !important;
    }
}

.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999;
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}
/* chart */
.chart-js {
    width: 40%;
    height: 30%;
    display: inline-block;
    margin: 50px;
}
/* pagination */
.page-list .pagination {
    float: left;
}

.page-list .pagination span {
    cursor: pointer;
}

.page-list .pagination .separate span {
    cursor: default;
    border-top: none;
    border-bottom: none;
}

.page-list .pagination .separate span:hover {
    background: none;
}

.page-list .page-total {
    float: left;
    margin: 25px 20px;
}

.page-list .page-total input, .page-list .page-total select {
    height: 26px;
    border: 1px solid #ddd;
}

.page-list .page-total input {
    width: 40px;
    padding-left: 3px;
}

.page-list .page-total select {
    width: 50px;
}
/**
* grid
 */
.st-sort-ascent:before {
    content: '\25B2';
}

.st-sort-descent:before {
    content: '\25BC';
}

.jht-grid {
    height: 100%;
    width: 100%;
    max-width: 100%;
    font-family: '微软雅黑 Light', Georgia, serif;
    font-size: 20px;
    text-align: center;
}

.jht-grid th {
    text-align: center;
    background: #33CCFF;
}

.jht-grid td {
}

.jht-grid tr td:hover {
    background: #33CCFF;
}

.jht-grid-dropdown {
    background: #f8f8f8;
    font-family: '微软雅黑 Light';
    font-size: 15px;
    padding: 5px;
    border: 1px solid #f8f8f8;
}

.jht-grid-dropdown-total {
    display: inline-block;
}

.jht-grid-dropdown-pagination {
    display: inline-block;
    float: right;
}

.jht-grid-dropdown-pagination-onJump {
    display: inline-block;
}

.jht-grid-dropdown-pagination-onJump > input {
    width: 20px;
}

.jht-grid-dropdown-pagination span:hover {
    border: 1px solid #FF3333;
}

.jht-pagination-item {
    display: inline-block;
    background: #FFFFFF;
    border: 1px solid #d4d4d4;
    width: 25px;
    text-align: center;
}

.jht-pagination-item-active {
    color: #FF0000;
    background: transparent;
    border: #d4d4d4
}

.jht-pagination-text {
    display: inline-block;
    background: #FFFFFF;
    border: 1px solid #d4d4d4;
}